/* soft reset do css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background.png);
    background-size: auto 140vh;
    font-family: 'Lora', serif;
    color: whitesmoke;
    height: 100vh;
    font-size: 12px;
}

/*se a tela tiver pelo menos 400 px vai carregar esses estilos*/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}
/*breakpoints*/
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

.h2 {
    display: block;
}

header {
    height: 100vh;
    display: flex; /*flex força tudo a ser coluna, mas não se importa sobre quebras e quantidade de linhas relacionadas a essas quebras*/
    justify-content: center;
    align-items: center;
}

.titulos {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: 1s ease 500ms animacaotitulo forwards;
}
    
@keyframes animacaotitulo {
    from {
        transform: scale(0.2) translateY(50vh);
        opacity: 0;
    }
    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }

}

.menu {
    background-color:  #083859;
    position: fixed;
    width: 100vw;
    top: 0; /*qualquer valor maior que zero cria distância do topo da página     lightsteelblue */
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, colo2 2s;
}

.menu a:active,
.menu a:hover {
    background-color: white;
    color:  #083859;
    text-decoration: bold;
}

a {
    color:white;
    text-decoration: none;
}

.site-subtitle,
.site-title {
    color: white;
    text-align: center;
    float: center;
}

.site-title {
    font-size: 4em;
    font-family: 'Lora', serif;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black
}

.site-subtitle {
    font-family: 'Lora', serif;
    line-height: 1.8em;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.sobre,
.projetos,  
.contato {
    padding: 2em;
    min-height: 110vh;  
    margin-left: auto;
    margin-right: auto;   
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto; 
}
}

.sobre a {
    color: skyblue;
    text-decoration: underline;
}

.sobre .avatar {
    float:left;
    margin-right: 4em;
}

.sobre h2,
.projetos h2,
.contato h2 {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 2em;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black
}

.sobre p {
    color:white;
    text-indent: 1em;
    margin-bottom: 1em;
    text-align: left;
}

.projetos .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 560px) {
    .projetos .grid {
        grid-template-columns: 240px 240px; /*quantidade de colunas*/
    }
}

@media (min-width: 880px) {
    .projetos .grid {
        grid-template-columns: repeat(2, 450px); /*quantidade de colunas*/
        justify-content: center;
        align-content: center;
    }
}

.projetos figure{
    text-align: center;
}

.img-sobre {
    height: 480px;
    width: 340px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); /*https://bennettfeely.com/clippy/ */
    object-fit: cover;
}

.img-projetos {
    height: 300px;
    width: 300px;
    object-fit: cover;
    transition: transform 500ms;
}

.img-projetos:hover {
    transform: scale(1.2);
}

.contato .icons {
    text-align: center;
}

.contato a {
    color: whitesmoke;
    font-size: 4em;
}

.contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 12px whitesmoke;
}

