/* soft reset do css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background.png);
    background-size: auto 100vh;
    font-family: 'Libre Baskerville', serif;
    color: whitesmoke;
    height: 100vh;
    font-size: 12px;
}

/*se a tela tiver pelo menos 400 px vai carregar esses estilos*/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}
/*breakpoints*/
@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

header {
    height: 100vh;
    display: flex; /*flex força tudo a ser coluna, mas não se importa sobre quebras e quantidade de linhas relacionadas a essas quebras*/
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu {
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    top: 0; /*qualquer valor maior que zero cria distância do topo da página */
}

.menu a {
    display: block;
    padding: 10px 20px;

}

a {
    color: teal;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
}

.site-subtitle {
    font-style: italic;
    font-family: 'Amatic SC', cursive;
}

.redes {
        padding: 2em;
        height: 100vh;
}

.redes h2 {
    color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.redes .grid {
    display: grid;
    gap: 4em;
    grid-template-columns: 260px 260px 260px 260px;
}

@media (min-widht: 560px) {
    .redes .grid {
        grid-template-columns: 240px 240px; /*quantidade de colunas*/
    }
}

@media (min-widht: 880px) {
    .redes .grid {
        grid-template-columns: repeat(3, 260px); /*quantidade de colunas*/
        justify-content: center;
        align-content: center;
        height: calc(100vh - 8em - 48px);
    }
}

.redes figure {
    text-align: center; /*poderia ficar no grid. mas é bom aqui para ficar específco*/
}

.img-redes {
    height: 200px;
    width: 200px;
    object-fit: cover;
}


