/* soft reset do css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/background.png');
    background-size: auto 100vh;
    font-family: arial;
    height: 100vh;
    font-size: 12px;
}

/*se a tela tiver pelo menos 400 px vai carregar esses estilos*/
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}
/*breakpoints*/
@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

h2 {
    color: whitesmoke;
    text-align: center;
}

imagens {
    align-content: center;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu {
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    top: 0; /*qualquer valor maior que zero cria distância do topo da página */
}

.menu a {
    display: block;
    padding: 10px 20px;

}

a {
    color: teal;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;
}

.site-subtitle {
    font-style: italic;
}

.img-portfolio {
    height: 100px;
    width: 100px;
}
